@page "/students"
@rendermode InteractiveServer
@using AntDesign.TableModels
@using System.ComponentModel

@inject IMessageService _message
<h3>Test</h3>




<Button Type="primary" @onclick="()=> Edit(new StudentShared{ Dob = DateTime.Now })">New</Button>
<Flex Gap="middle" Vertical Align="start">
    <Flex Gap="middle" Align="flex-end">
        <div>
            <Text Style="display:block; width:100%">Student ID</Text>
            <Input Placeholder="Enter Student ID" @bind-Value="@_filter.StudentId" Style="width:100px" />
        </div>

        <div>
            <Text Style="display:block; width:100%">Name</Text>
            <Input Placeholder="Enter Name" @bind-Value="@_filter.StudentName" Style="width:150px" />
        </div>
        <div>
            <Text Style="display:block; width:100%">Date Of Birth</Text>
            <RangePicker TValue="DateTime?[]" Picker="@DatePickerType.Month" OnChange="OnTimeRangeChange" />
        </div>
        <div>
            <Text Style="display:block; width:100%">Address</Text>
            <Input Placeholder="Enter Address" @bind-Value="@_filter.Address" Style="width:150px" />
        </div>

        <div>
            <Text Style="display:block; width:100%">Class ID</Text>
            <Input Placeholder="Enter Class ID" @bind-Value="@_filter.ClassId" Style="width:100px" />
        </div>

        <Button Type="default" OnClick="Search">Search</Button>
        <Button Type="dashed" OnClick="Reset">Reset</Button>
    </Flex>
</Flex>




<Table @ref="table"
       TItem="StudentShared"
       DataSource="@_students"
       Total="_total"
       OnChange="OnChange"
       @bind-PageIndex="_pageIndex"
       @bind-PageSize="_pageSize"
       @bind-SelectedRows="_selectedRows">


    <Selection Key="@(context.StudentId.ToString())" />
    <Column @bind-Field="@context.StudentName" />
    <Column @bind-Field="@context.Dob" Format="dd/MM/yyyy" />
    <Column @bind-Field="@context.Address" />
    <Column @bind-Field="@context.Gender" />
    <Column @bind-Field="@context.ClassName" />

    <ActionColumn Title="Action">
        <Space>
            <SpaceItem>
                <Button Type="primary" OnClick="@(()=>{ Edit(context); })">
                    Edit
                </Button>



            </SpaceItem>
            <SpaceItem>
                <Button Danger OnClick="() => Delete(context.StudentId)">Delete</Button>
            </SpaceItem>
        </Space>
    </ActionColumn>
</Table>


<Modal Title="Edit"
       @bind-Visible="@_visible"
       OnOk="HandleOk"
       OnCancel="HandleCancel">
    <Space Direction="DirectionVHType.Vertical" Size="@("small")">
        <SpaceItem>
            <Text>Student ID</Text>
            <Input Placeholder="StudentId" @bind-Value="@_student.StudentId" Disabled />
        </SpaceItem>

        <SpaceItem>
            <Text>Student Name</Text>
            <Input Placeholder="StudentName" @bind-Value="@_student.StudentName" />
        </SpaceItem>

        <SpaceItem>
            <Text>Student Address</Text>
            <Input Placeholder="StudentAddress" @bind-Value="@_student.Address" />
        </SpaceItem>

        <SpaceItem>
            <Text>Student Gender</Text>
            <br />
            <Select DataSource="@_genders"
                    @bind-Value="@_student.Gender"
                    ValueName="@nameof(GenderSelection.Value)"
                    LabelName="@nameof(GenderSelection.Text)"
                    Style="width: 200px"
                    Placeholder="Select gender"
                    EnableSearch
                    AllowClear>
            </Select>
        </SpaceItem>

        <SpaceItem>
            <Text>Student Dob</Text>
            <br />
            <DatePicker @bind-Value="@_student.Dob"
                        Format="dd/MM/yyyy"
                        DefaultValue=@DateTime.Now />
        </SpaceItem>

        <SpaceItem>
            <Text>Student Class Name</Text>
            <br />

            <Select DataSource="@_classes"
                    @bind-Value="@_student.ClassId"
                    ValueName="@nameof(ClassShared.ClassId)"
                    LabelName="@nameof(ClassShared.ClassName)"
                    Style="width: 200px"
                    Placeholder="Select class"
                    EnableSearch
                    AllowClear>
            </Select>
        </SpaceItem>
    </Space>
</Modal>

<p>
    PageIndex: @_pageIndex | PageSize: @_pageSize | Total: @_total
</p>

<h5>
    Selected Items
</h5>


